:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
}

.header {
    text-align: center;
    padding: 16px;
    background-color: #1F2937;
    color: white;
    font-size: 42px;
}

.main {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(0, 0, 0);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
}

.grid-item {
    border: 0.5px dashed rgb(191, 195, 199);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #1F2937;
    color: white;
    font-size: 15px;
}